<!DOCTYPE html>
<html ng-app="TeacherApp">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1200" />
  <title><%= typeof title !== 'undefined' ? title : "EthicApp" %></title>
  <script src="<%= asset('/js/dist/common-ethicapp-deps.js', '/js/dist/common-ethicapp-deps.min.js') %>" defer></script>
  <link rel="stylesheet" href="<%= asset('/css/dist/assets-bundle.css') %>">
  <link rel="stylesheet" href="/static/fonts/nunito/nunito.css">
  <style>
    body.teacher-app {
      --global-font-family: "Nunito", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
      font-family: var(--global-font-family);
      min-width: 1200px;
    }

    body.teacher-app button,
    body.teacher-app input,
    body.teacher-app optgroup,
    body.teacher-app select,
    body.teacher-app textarea,
    body.teacher-app .popover,
    body.teacher-app .tooltip,
    body.teacher-app .nvtooltip {
      font-family: var(--global-font-family);
    }
  </style>
  <%- include('../partials/favicon.ejs') %>
  <% if (typeof renderScripts === "function") { %>
    <%- renderScripts(scripts) %>
  <% } %>
</head>
<body class="teacher-app" ng-controller="LocalesController">
  <div class="loading-overlay" ng-if="!translationsLoaded" ng-class="{'loading': !translationsLoaded}">
    <p>Loading...</p>
  </div>
  <div ng-if="translationsLoaded" ng-controller="<%= typeof controller !== 'undefined' ? controller : 'VoidController' %>">
  <%- body %>
  </div>
  <%- typeof bottomScripts !== 'undefined' ? bottomScripts : '' %>
</body>
</html>
