<!DOCTYPE html>
<html ng-app="<%= typeof ngApp !== 'undefined'? ngApp : 'UserCommon' %>">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title><%= typeof title !== 'undefined' ? title : "EthicApp" %></title>
  <script src="<%= asset('/js/dist/common-ethicapp-deps.min.js') %>" defer></script>
  <script src="<%= asset('/js/dist/user-common.min.js') %>" defer></script>
  <%- include('../partials/favicon.ejs') %>
  <link rel="stylesheet" href="<%= asset('/css/dist/assets-bundle.css') %>">
  <% if (typeof renderScripts === "function") { %>
    <%- renderScripts(scripts) %>
  <% } %>
</head>
<body ng-controller="LocalesController">
  <div class="loading-overlay" ng-if="!translationsLoaded" ng-class="{'loading': !translationsLoaded}">
    <p>Loading...</p>
  </div>
  <div ng-if="translationsLoaded" ng-controller="<%= typeof controller !== 'undefined' ? controller : 'VoidController' %>">
  <%- body %>
  </div>
  <%- typeof bottomScripts !== 'undefined' ? bottomScripts : '' %>
</body>
</html>